<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
	<div class=container3>
		<img src="assets/imgs/logo-teleasist.png" class="logo">
		<div class="spacer"></div>
		<div class="inputs">
			<ion-item>
				<ion-label color="primary" fixed><ion-icon name="person"></ion-icon></ion-label>
				<ion-input type="text"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label color="primary" fixed><ion-icon name="key"></ion-icon></ion-label>
				<ion-input type="password"></ion-input>
			</ion-item>
		</div>
		<div class="spacer"></div>
		<button ion-button outline block color [navPush]="servicePage">Iniciar Sesión</button>
		<button ion-button clear block color (click)=" presentContactModal()">Regístrate</button>
	</div>
</ion-content>
