<!-- Generated template for the LoaderComponent component -->
<div>
	<div class=container4>
  <p text-center >
  	<img src="assets/imgs/message.svg" style="width: 60%"> <br>
  	Estamos buscando al proveedor mas cercano. <br>Este proceso puede tomar tiempo, <br>por favor espera con nosotros.
  </p>
</div>

</div>
