<h1 padding-left><i class="mdi mdi-plus"></i> Nuevo Servicio</h1>  <h4>

<!--Cuenta-->
<h5 padding-left>Campaña</h5>
  <ion-item text-wrap (click)="doRadio() ">
    <ion-avatar item-start>
      <img src="assets/imgs/avatar.png"> 
    </ion-avatar>
    <h3> {{campana.txt}}</h3>
    <i class="mdi mdi-share" item-end></i>
  </ion-item>

<!--Tipo de Servicio-->
<h5 padding-left>Tipo de Servicio</h5>


<ion-list no-lines>
  <ion-item>
 
	<ion-grid class="button-grid">
		<ion-row>
			<ion-col col-2 text-center [ngClass]="servicePicked === 'battery' ? 'primarytxt' : 'darktxt'" (click)="pickService('battery')">
				<i class="mdi mdi-car-battery"></i>
				<br>
				<small>(2/4)</small>
			</ion-col>
			<ion-col col-2 text-center [ngClass]="servicePicked === 'tow' ? 'primarytxt' : 'darktxt'" (click)="pickService('tow')">
				<i class="mdi mdi-car-hatchback"></i>
				<br>
				<small>(2/4)</small>
			</ion-col>
			<ion-col col-2 text-center [ngClass]="servicePicked === 'fix' ? 'primarytxt' : 'darktxt'" (click)="pickService('fix')">
				<i class="mdi mdi-wrench"></i>
				<br>
				<small>(2/4)</small>
			</ion-col>
      <ion-col col-2 text-center  [ngClass]="servicePicked === 'key' ? 'primarytxt' : 'darktxt'" (click)="pickService('key')">
        <i class="mdi mdi-key-variant"></i>
        <br>
        <small>(2/4)</small>
      </ion-col>
      <ion-col col-2 text-center  [ngClass]="servicePicked === 'gas' ? 'primarytxt' : 'darktxt'" (click)="pickService('gas')">
        <i class="mdi mdi-gas-station"></i>
        <br>
        <small>(2/4)</small>
      </ion-col>
      <ion-col col-2 text-center [ngClass]="servicePicked === 'wash' ? 'primarytxt' : 'darktxt'" (click)="pickService('wash')">
        <i class="mdi mdi-car-wash"></i>
        <br>
        <small>(2/4)</small>
      </ion-col>
		</ion-row>
	</ion-grid>
 
  </ion-item>


<!--Dirección de Servicio-->


    
    <ion-item text-wrap (click)="showAddressModal()" no-lines>
   		<ion-icon name="pin" item-start></ion-icon>
   		<p *ngIf="!address.place!==''" class="label-input">¿Dónde se encuentra el vehículo?</p>
      	<p text-right *ngIf="address.place!==''">{{address.place}}</p>
    </ion-item>
  </ion-list>


<!-- Vehículo -->
<h5 padding-left>Datos de la asistencia</h5>
<ion-list>
  <ion-item>
    <ion-label><i class="mdi mdi-car-hatchback"></i> <small padding-left>Vehículo</small></ion-label>
    <ion-select [(ngModel)]="gaming"  interface="popover">
      <ion-option value="1">Jetta MKV3386</ion-option>
      <ion-option value="2">Armada NSA1232</ion-option>
      <ion-option value="new">+ Nuevo Vehículo</ion-option>
    </ion-select>
  </ion-item>

<!-- Preguntas y Extras -->

  <ion-item><span item-end>{{crash ? 'Si':'No'}}</span>
    <ion-label><small>¿El vehículo sufrió un accidente? </small></ion-label>
    <ion-toggle [(ngModel)]="crash"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label><small>¿Se requiere equipo especial? <span item-end>{{special ? 'Si':'No'}}</span></small></ion-label>
    <ion-toggle [(ngModel)]="special"></ion-toggle>
  </ion-item>
</ion-list>


