new-order {

	.label-input{
		font-weight: 100;
		font-style: italic;
		color: color($colors, stable);
		font-size: 10pt;
		line-height: 0
	}
	.label{
		i{
			font-size: 20pt;
			color: color($colors,dark)
		}
	}

	ion-grid{
		background-color: white
	}
}
