<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

	<div class=container3>

		<img src="assets/imgs/logo-teleasist.png" class="logo2" >
		<h3>
			¡Con Telasist, recibe asistencia en minutos y sin problemas!<br>
			<span class="sub">
				Déjanos tus datos a continuación para continuar:
			</span>
		</h3>
		<div class="inputs">

  <ion-item>
    <ion-label floating><ion-icon name="person"></ion-icon> Nombre</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating><ion-icon name="mail"></ion-icon> Email</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating><ion-icon name="key"></ion-icon> Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
<ion-item text-wrap>
  <ion-label style="font-size: 75%">Estoy de acuerdo con los Términos y Condiciones</ion-label>
  <ion-checkbox color="primary" checked="false"></ion-checkbox>
</ion-item>
		</div>
		<div class="spacer"></div>
		<button ion-button outline block color="primary">Regístrate</button>
		<button ion-button clear block small color="primary" (click)="dismiss()">¿Ya cuentas con usuario? Inicia Sesión</button>
	</div>
</ion-content>
