<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar hideBackButton>
    <ion-title><img src="assets/imgs/logo-text.png" class="logo-text"></ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

</ion-content>
