<h1 padding-left><i class="{{order.serviceType.icon}}"></i> Servicio en Curso</h1>
<!--Proveedor-->

  <ion-item>
  	<ion-grid>
  		<ion-row>
  			<ion-col col-9>
 			<h2 class="provider-name">{{order.provider.name}}</h2>
  			<h6>
  				<i class="rating {{item}}" *ngFor="let item of rating"></i>
  				 {{order.provider.rating}}
  			</h6>
  			<h6><i class="mdi mdi-car" padding-right></i> {{order.provider.company}}</h6>
  			

  			</ion-col>
  			<ion-col col-3>
	  			<ion-avatar item-end>
				  <img src="{{order.provider.avatar}}" class="provider-pic"> 
				</ion-avatar>
  			</ion-col>
  		</ion-row>
  		<hr>
  		<ion-row>
  			<ion-col col-6>
 			<h6><i class="mdi mdi-account-card-details" padding-right></i> {{order.campaign.txt}}</h6>
  			<h6><i class="{{order.serviceType.icon}}" padding-right></i> {{order.serviceType.txt}}</h6>

  			</ion-col>
  			<ion-col col-6>
          <h6><i class="mdi mdi-clock" padding-right></i> {{order.date | date:'short'}}</h6>

  			</ion-col>  		
  		</ion-row>
  	</ion-grid>
  </ion-item>



<!--Timeline-->
<h5 padding-left>Actividad del Servicio</h5>

	<ion-item text-wrap no-lines class="timeline" *ngFor="let item of order.status">
		<i class="mdi mdi-circle" [ngClass]="item.checked ? 'secondarytxt' : 'stabletxt'" item-start></i>
		<h5  *ngIf="item.checked">
			<small><em>{{ item.txt }}</em> </small>
			<br>
			<small>{{item.timestamp | date:'shortTime'}}</small>
		</h5>
    <h5  *ngIf="!item.checked">
      {{ item.txt }}
      <br>
      <small>{{item.timestamp | date:'shortTime'}}</small>
    </h5>
	</ion-item>


<!--Dirección-->
<h5 padding-left>Detalle de pago</h5>

  		<ion-item no-lines class="timeline" padding-top padding-bottom>
  			<table width="100%">
  				<tr *ngIf="order.transaction.extra.specialTow">
  					<td>
  						Arrastre Especial 
  					</td>
  					<td text-right>
  						<span>$240.00</span>
  					</td>
  				</tr>
  				<tr *ngIf="order.transaction.extra.km">
  					<td>
  						 {{order.transaction.extra.km}} Km adicionales
  					</td>
  					<td text-right>
  						<span>$77.64</span>
  					</td>
  				</tr>
  				<tr>
            <td colspan="2">
              <hr>
            </td>    
          </tr> 
        

  				<tr>
  					<td>
  						Costo Base
  					</td>
  					<td text-right>
  						{{order.transaction.basePrice | currency:'USD':true:'.2'}}
  					</td>
  				</tr>
  				<tr>
  					<td>
  						Total extras
  					</td>
  					<td text-right>
  						{{order.transaction.extraPrice | currency:'USD':true:'.2'}}
  					</td>
  				</tr>
  				<tr>
  					<th text-left>
  						Costo Total
  					</th>
  					<th text-right>
  						{{order.transaction.basePrice+order.transaction.extraPrice | currency:'USD':true:'.2'}}
  					</th>
  				</tr>
  				<tr>
            <td colspan="2">
              <hr>
            </td>    
          </tr> 
        

  				<tr>
  					<td>
  						Estatus de Orden
  					</td>
  					<td text-right>
  						<span class="completed" *ngIf="order.payment.status=='paid'">Orden Pagada</span>
  					</td>
  				</tr>
  				<tr>
  					<td>
  						Método de Pago
  					</td>
  					<td text-right>
  						<span *ngIf="order.payment.status=='paid'">Efectivo</span>
  					</td>
  				</tr>
  				<tr>
  					<td>
  						Fecha de Pago
  					</td>
  					<td text-right>
  						<span *ngIf="order.payment.status=='paid'">{{order.payment.date |date:'short'}}</span>
  					</td>
  				</tr>
  			</table>

	  	</ion-item>

<div padding>
 <button item-end ion-button small icon-right block color="danger">Reportar </button>
</div>