page-profile {
	.avatar{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-size:cover;
		display: block;
		margin: auto; 
	}
	.profilename{
		line-height: .8rem;
		padding-bottom: 1.2rem;
	}

}
