<ion-header>
  <fab-menu></fab-menu>
</ion-header>
<ion-content padding>
<ion-grid>
	<ion-row>
		<ion-col col-3 text-right>
			<div class="button-cont-mdi">
				<i class="mdi mdi-camera button-mdi"></i>
			</div>
		</ion-col>
		<ion-col col-6 text-center>
			<img class="avatar" style="background-image:url('assets/imgs/avatar.png');" />
		</ion-col>
		<ion-col col-3 text-left>
			<div class="button-cont-mdi">
				<i class="mdi mdi-pencil button-mdi"></i>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>
<h2 class="profilename" text-center> Nicolas Zubiaur</h2>
<ion-card margin-top>
  <ion-list>
    <button ion-item (click)="editProfileModal()">
      <ion-icon name="information-circle" item-start></ion-icon>
      Editar Datos
    </button>

    <button ion-item (click)="vehiclesModal()">
      <ion-icon name="car" item-start></ion-icon>
      Mis Vehículos
    </button>

    <button ion-item [navPush]="paymentPage">
      <ion-icon name="card" item-start></ion-icon>
      Métodos de Pago
    </button>

    <button ion-item [navPush]="historyPage">
      <ion-icon name="clock" item-start></ion-icon>
      Historial
    </button>

    <button ion-item>
      <ion-icon name="share" item-start></ion-icon>
      Compartir
    </button>

  </ion-list>
</ion-card>

</ion-content>