page-receipt {

	.completed{
		color: color($colors,secondary) !important;
	}
	.xsmall{
		font-size: 7pt;
		padding: 0;
		margin: 0;
		height: 10px;
	}
	.rating{
		color: color($colors,yellow) !important;
	}
	.provider-pic{
		border-radius: 50%;
		width: 60px;
		height: 60px;
		float: right;
	}
	.provider-name{
		font-weight: bold;
		padding-top: 10px

	}
	hr {
	    background-color: rgba(0, 0, 0,0) !important;
	    width: 85%;
	    border-top: 2px dashed rgba(0,0,0,0.05);
	}

}
