<!--
  Generated template for the SplashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <ion-card class="container slide-in-both-ways">
      <img src="assets/imgs/head-1.jpg">
      <ion-card-header text-wrap>
        <strong>Tel</strong>Asist 
        App<strong>Vial</strong>
      </ion-card-header>
    
      <ion-card-content>
        <img src="assets/imgs/logo-teleasist-black.png" class="logo">
        <h2 color="light">¡Recibe asitencia en el camino en minutos!</h2>
        <button ion-button block clear icon-right [navPush]="loginPage">
          Comenzar
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-card-content>
    
    </ion-card>
</ion-content>
