page-splash {
	.container{
		width: 80%;
	    margin: 0;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%) ;
		text-align: center;
		background-color: color($colors,light);
		box-shadow: none;
		color: color($colors,dark);
		ion-card-header{
			font-size: 26px;
			color: color($colors,dark);
			line-height: 1;
		}
		h2{
			font-size: 18px;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		.logo {
		    display: block;
		    margin-left: auto;
		    margin-right: auto;
		    width: 35%;
		    margin-top: 0%;
		}
	}

}
