<!-- Generated template for the FabMenuComponent component -->
  <ion-navbar>
    <ion-title><img src="assets/imgs/logo-text.png" style="max-height: 85%; height: 30px"></ion-title>
  </ion-navbar>
	<ion-fab bottom right edge>
	    <button ion-fab color="darkblue">
	    	<i class="mdi mdi-menu"></i>
	    </button>
	    <ion-fab-list side="bottom">
	      <button ion-fab [disabled]="activePage==1" [color]="(activePage==1 ? 'darkblue' : 'light')" [navPush]="profilePage">
	      	<i class="mdi mdi-account"></i>
	      </button>
	      <small>Perfil</small>

	      <button ion-fab [disabled]="activePage==4" [color]="(activePage==4 ? 'darkblue' : 'light')" [navPush]="servicePage">
	      	<i class="mdi mdi-car"></i>
	      </button>
	      <small>Servicio</small>

	      <button ion-fab [disabled]="activePage==2" [color]="(activePage==2 ? 'darkblue' : 'light')" [navPush]="historyPage">
	      	<i class="mdi mdi-clock"></i>
	      </button>
	      <small>Historial</small>

	      <button ion-fab [disabled]="activePage==3" [color]="(activePage==3 ? 'darkblue' : 'light')" [navPush]="paymentPage">
	      	<i class="mdi mdi-credit-card"></i>
	      </button>
	      <small text-center>Pagos y Campañas</small>

	      <button ion-fab [disabled]="activePage==5" [color]="(activePage==5 ? 'darkblue' : 'light')" [navPush]="supportPage">
	      	<i class="mdi mdi-help"></i>
	      </button>
	      <small>Ayuda</small>

	    </ion-fab-list>
	</ion-fab>
