// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$font-family-base: 'Khula', sans-serif;
$font-family-ios-base: $font-family-base;
$font-family-md-base: $font-family-base;
$content-padding: 16px;
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #0CAAFA,
  darkblue:   #005A8D,
  secondary:  #23CE6B,
  danger:     #CA2E55,
  light:      #FFFAFA,
  dark:       #263238,
  stable:	  #78909C,
  yellow:	  #FBC02D,
  light-dark: rgba(225,225,225,.8)
);

$text-color : color($colors, light);
$toolbar-background : transparent;
// $toolbar-background : color($colors, darkblue);
$toolbar-md-border-color : transparent;
// $toolbar-md-border-color : color($colors, darkblue);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-ios-height: 72px;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

