<ion-header>
	<fab-menu></fab-menu>
</ion-header>
<ion-content padding>
	<h1 padding-left><i class="mdi mdi-clock"></i> Historial</h1>
<ion-list>
  <ion-item *ngFor="let order of orders" [navPush]="receiptPage" text-wrap>

    <h6 item-end>
		<small>
			<i class="mdi mdi-clock" padding-right></i>
			{{ order.date | date:'short' }}
			<br>
			<strong>
				<i class="mdi mdi-car-hatchback" padding-right></i>
				{{ order.vehicleTxt }}
			</strong>
			<br>
  			<span *ngIf="order.statustxt=='Cancelado'" class="dangertxt">Orden Cancelada</span>
  			<span *ngIf="order.statustxt=='Completo'" class="secondarytxt">Orden Completa</span>
		</small>
	</h6>
  	<h6>
  			<strong>{{ order.serviceType.txt }}</strong>
  			<br>
  			{{ order.providerName }}

  	</h6>
    <i class="mdi mdi-arrow-right" item-end></i>
  </ion-item>  
</ion-list>
</ion-content>
