<ion-header>
	<fab-menu></fab-menu>
</ion-header>
<ion-content padding>
<div *ngIf="serviceStatus=='new'">
	<new-order></new-order>
	<div padding-right padding-left margin-top>
	   <button ion-button block icon-right color="darkblue" (click)="sendOrder()">
	      Siguiente
	  </button>
	</div>
</div>	
<loader *ngIf="serviceStatus=='loading'"></loader>
<service *ngIf="serviceStatus=='service'"></service>
</ion-content>