// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-ios{
	    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
 		ion-title {
    		top: 10px;
    	}
}
ion-content{
	background-image: url('../assets/imgs/blur2.jpg');
	background-position: right;
	background-size: cover;
}
.transparent{
    background-color: rgba(255,255,255,0.0) !important;
}
.item {
	color: color($colors, dark) !important;
	h2{
		font-weight: 600
	}
	p{
		color:color($colors,dark);
		font-size: 10pt;
		font-weight: 300
	}
}
.item-transparent {
    color: color($colors, stable);
    background-color: rgba(255,255,255,0.0) !important;
	.item-inner {
	    border-bottom: 0.65px solid color($colors,light-dark) !important;
	}
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 30%;
	margin-top: 25%;
}
.logo2{
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 20%;
	margin-top: 10%;
}
.logo-text{
	max-height: 100%;
	width: 120px;
}	
[icon-only] i {
    font-size: 1.9em;
    line-height: .9;
    pointer-events: none;
}
.item-md i[item-left], .item-md i[item-right], .item-md i[item-start], .item-md i[item-end] {
    margin-left: 0;
    margin-top: 11px;
    margin-bottom: 10px;
}
.item-ios i[item-left], .item-ios i[item-right], .item-ios i[item-start], .item-ios i[item-end] {
    margin-left: 0;
    margin-top: 9px;
    margin-bottom: 8px;
}
	div.container3 {
   		height: 10em;
   		position: relative;
		.item {
		    color: color($colors, light) !important;
		    background-color: rgba(255,255,255,0.0) !important;
			.item-inner {
			    border-bottom: 0.65px solid color($colors,light-dark) !important;
			}
		}
		.spacer{
			margin-top: 30px;
		}
		ion-input{
			color: color($colors,light);
		}
		button{
			margin-top: 10px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 75%
		}
		.inputs{
			width: 90%;
			margin: auto;
		}
	
		ion-label[fixed] {
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 0 100px;
		    -ms-flex: 0 0 100px;
		    flex: 0 0 100px;
		    width: 15px;
		    min-width: 10px;
		    max-width: 20px;
		}

	}
.no-lines{
	border: none !important;
	.item-inner {border: none !important;}
}
.button-mdi{
	font-size: 20px;
	width: 30px;
	height: 30px;
	padding: 5px;
}
	.button-cont-mdi{
		padding-top: 55px;
		display: block;
	}
.button-grid{
	color: color($colors, stable) !important;
	i{
		font-size: 2.4rem
	}
}
.popover-ios .popover-content{
	    	width: 250px;
	    	max-width: 65%
		} 
.searchresults{
	color: color($colors,dark)
}
.ion-card{
	color: color($colors, light) !important;
	background-color: rgba(255,255,255,0.1);
}
.label-input{
	font-weight: 100;
	font-style: italic;
	color: color($colors, stable);
	font-size: 10pt;
	line-height: 0
}
ion-select {
	width: 65%;
	max-width: 65%;
	text-align: right;
	color: color($colors,dark);
	font-size: 11pt
}
.card-content {
    padding: 5px 10px 5px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    line-height: 1.4;
}
.active-sel{
	color: color($colors,darkblue) !important;
}
ion-label {
    margin: 0 !important;
}
h1 {
    font-size: 16pt;
    font-weight: 300 !important;
    line-height: 1.2;
}
h2 {
    font-size: 14pt;
    font-weight: 600 !important;
    line-height: 1;
}	
h3 {
    font-size: 12pt;
    font-weight: 600 !important;
    line-height: 1;
}
h4 {
    font-size: 11pt;
    font-weight: 300 !important;
    line-height: 1;
}	
h5{
    font-size: 10pt;
    font-weight: 300 !important;
    line-height: .3;
}
h6 {
    font-size: 9pt;
    font-weight: 300 !important;
    line-height: 1;
}
td {
    font-size: 10pt;
    font-weight: 300 !important;
    line-height: 1;
}
[padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
    margin-top: 0rem;
}
.stabletxt{	color:color($colors, stable) !important;	}
.primarytxt{	color:color($colors, primary ) !important;	}
.secondarytxt{	color:color($colors, secondary) !important;	}
.dangertxt{	color:color($colors, danger) !important;	}
.darktxt{	color:color($colors, dark) !important;	}
.lighttxt{	color:color($colors, light) !important;	}
.darkbluetxt{	color:color($colors, darkblue) !important;	}