<ion-content padding>
	<button block clear ion-button text-wrap text-center large margin-top>
		<h5 margin-top>
			<i class="mdi mdi-crosshairs-gps" padding-right></i>
			Mi ubicación actual
		</h5>
	</button>
    <ion-searchbar [animated]="true" placeholder="Buscar" [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
  <ion-list *ngIf="autocompleteItems">
    <button ion-item text-wrap class="searchresults" *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
    	<i class="mdi mdi-map-marker" item-start></i>
      		<h5 color="dark">{{ item }}</h5>
    </button>
   </ion-list>
</ion-content>